---
---
<div id="tmod">
  <div class="t-win">
    <div class="t-bar">
      <div class="tbd" style="background:#ff5f56"></div>
      <div class="tbd" style="background:#ffbd2e"></div>
      <div class="tbd" style="background:#28c840"></div>
      <span class="t-title">bhuvnesh@portfolio:~</span>
      <button class="t-x" id="t-close">✕</button>
    </div>
    <div class="t-out" id="t-out">
      <div class="to s">Welcome! Type 'help' for commands 👋</div>
    </div>
    <div class="t-inp-row">
      <span class="t-pr">~$</span>
      <input
        id="tinp"
        type="text"
        placeholder="enter command..."
        autocomplete="off"
        spellcheck="false"
      />
    </div>
  </div>
</div>
